name: Run Bookkeeping Tool
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Script
        # This sends a "fake" input so the script doesn't get stuck waiting for you
        run: echo "1000 500" | python expense_tracker.py
